<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!--<properties resource="application.properties"/>-->
    <context id="Mysql" targetRuntime="com.hmn.ym.common.generator.mapper.TkMyBatis3SimpleImpl" defaultModelType="flat">
        <!-- 生成的Java文件的编码 -->
        <property name="javaFileEncoding" value="UTF-8"/>
        <!--处理sql中的`符号-->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <!-- 格式化java代码 -->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!-- 格式化XML代码 -->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <!-- 生成的pojo，将implements Serializable,为生成的Java模型类添加序列化接口-->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <!--添加自定义的继承接口 Mapper-->
        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="tk.mybatis.mapper.common.Mapper"/>
        </plugin>
        <plugin type="com.hmn.ym.common.generator.model.IngoreSetterAndGetterPlugin"/>

        <!--数据源配置-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://47.106.222.97:3306/ym_home?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=UTC&amp;serverTimezone=Asia/Shanghai"
                        userId="ym_home"
                        password="ym_home_123"/>
        <!--model包路径-->
        <javaModelGenerator targetPackage="com.hmn.ym.dao.entities.po" targetProject="src/main/java"></javaModelGenerator>
        <!--mapper.xml包路径-->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources"/>
        <!--mapper包路径-->
        <javaClientGenerator targetPackage="com.hmn.ym.dao.mapper" targetProject="src/main/java" type="XMLMAPPER"></javaClientGenerator>

        <table tableName="t_sys_admin" domainObjectName="Admin" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_sys_admin_role" domainObjectName="AdminRole" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_sys_role" domainObjectName="Role" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_hospital" domainObjectName="Hospital" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_hospital_doctor" domainObjectName="Doctor" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_saleman" domainObjectName="SaleMan" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_user" domainObjectName="User" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

    </context>
</generatorConfiguration>

