<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmn.ym.dao.mapper.CfgCooperationRateMapper">
  <resultMap id="BaseResultMap" type="com.hmn.ym.dao.entities.po.CfgCooperationRate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="amortization_id" jdbcType="BIGINT" property="amortizationId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="rate" jdbcType="DOUBLE" property="rate" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
  </resultMap>
</mapper>