<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="Mysql" targetRuntime="tk.mybatis.mapper.generator.TkMyBatis3SimpleImpl" defaultModelType="flat">
        <!-- 生成的Java文件的编码 -->
        <property name="javaFileEncoding" value="UTF-8"/>
        <!--处理sql中的`符号-->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <!-- 格式化java代码 -->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!-- 格式化XML代码 -->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <!--添加自定义的继承接口 Mapper-->
        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="tk.mybatis.mapper.common.Mapper"/>
            <!-- 实现序列化接口 默认false -->
            <property name="implementSerializableInteface" value="true"/>
            <!-- setter方法链式调用（返回this） 默认false -->
            <property name="setterMethodChainEnabled" value="true"/>
            <!-- 启用Getter注解  默认false-->
            <property name="needsGetter" value="true"/>
            <!-- 启用Setter注解  默认false-->
            <property name="needsSetter" value="true"/>
            <!-- 启用lombok注解-->
            <property name="lombok" value="Getter,Setter"/>
        </plugin>

        <!--Service interface-->
        <plugin type="tk.mybatis.mapper.generator.TemplateFilePlugin">
            <property name="targetProject" value="src/main/java"/>
            <property name="targetPackage" value="com.hmn.ym.service"/>
            <property name="templatePath" value="template/Service.ftl"/>
            <property name="mapperSuffix" value="Service"/>
            <property name="fileName" value="I${tableClass.shortClassName}${mapperSuffix}.java"/>
        </plugin>

        <!--Service Impl-->
        <plugin type="tk.mybatis.mapper.generator.TemplateFilePlugin">
            <property name="targetProject" value="src/main/java"/>
            <property name="targetPackage" value="com.hmn.ym.service.impl"/>
            <property name="templatePath" value="template/ServiceImpl.ftl"/>
            <property name="mapperSuffix" value="ServiceImpl"/>
            <property name="fileName" value="${tableClass.shortClassName}${mapperSuffix}.java"/>
        </plugin>

        <!-- entity vo -->
        <plugin type="tk.mybatis.mapper.generator.TemplateFilePlugin">
            <property name="targetProject" value="src/main/java/"/>
            <property name="targetPackage" value="com.hmn.ym.dao.entity.vo"/>
            <property name="templatePath" value="template/vo.ftl"/>
            <property name="mapperSuffix" value="Vo"/>
            <property name="fileName" value="${tableClass.shortClassName}${mapperSuffix}.java"/>
        </plugin>

        <!--数据源配置-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://47.106.222.97:3306/ym_home?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=UTC&amp;serverTimezone=Asia/Shanghai"
                        userId="ym_home"
                        password="ym_home_123"/>

        <javaTypeResolver type="com.hmn.ym.common.generator.mapper.JavaTypeResolverImpl">
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!--model包路径-->
        <javaModelGenerator targetPackage="com.hmn.ym.dao.entity.po" targetProject="src/main/java"></javaModelGenerator>
        <!--mapper.xml包路径-->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources"/>
        <!--mapper包路径-->
        <javaClientGenerator targetPackage="com.hmn.ym.dao.mapper" targetProject="src/main/java" type="XMLMAPPER"></javaClientGenerator>

        <!--
        <table tableName="t_bussiness_sum" domainObjectName="BussinessSum" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_cfg_cooperation_rate" domainObjectName="CfgCooperationRate" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_cfg_sale_rate" domainObjectName="CfgSaleRate" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_consume_dtl" domainObjectName="ConsumeDtl" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_cust_consumer" domainObjectName="CustConsumer" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_cust_shop" domainObjectName="CustShop" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_hospital" domainObjectName="Hospital" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_hospital_doctor" domainObjectName="Doctor" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_saleman" domainObjectName="SaleMan" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_team" domainObjectName="Team" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_team_sum" domainObjectName="TeamSum" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_user" domainObjectName="User" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="cfg_para_detail" domainObjectName="CfgParaDetail" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
        -->
        <table tableName="t_category" domainObjectName="Category" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="t_category_index" domainObjectName="CategoryIndex" mapperName="{0}Mapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

    </context>
</generatorConfiguration>

