<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmn.ym.dao.mapper.system.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.hmn.ym.dao.entities.po.system.UserRole">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
    </resultMap>

    <delete id="deleteByUserId" parameterType="java.lang.Integer">
        delete from t_sys_user_role where user_id = #{userId,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByRoleId" parameterType="java.lang.Integer">
        delete from t_sys_user_role where role_id = #{roleId,jdbcType=INTEGER}
    </delete>

</mapper>