<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmn.ym.dao.mapper.system.UserMapper">
    <resultMap id="BaseResultMap" type="com.hmn.ym.dao.entities.po.system.User">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="mobile" jdbcType="CHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="type" jdbcType="BIT" property="type"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <resultMap id="userResultMap" type="com.hmn.ym.dao.entities.vo.system.UserVo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <collection ofType="com.hmn.ym.dao.entities.vo.system.RoleVo" property="userRoles">
            <id column="role.id" jdbcType="INTEGER" property="id"/>
            <result column="role.name" jdbcType="VARCHAR" property="name"/>
            <collection ofType="com.hmn.ym.dao.entities.po.system.Menu" property="menus">
                <id column="menu.id" jdbcType="INTEGER" property="id"/>
                <result column="menu.name" jdbcType="VARCHAR" property="name"/>
            </collection>
            <collection ofType="com.hmn.ym.dao.entities.po.system.Permission" property="permissions">
                <id column="permission.id" jdbcType="INTEGER" property="id"/>
                <result column="permission.name" jdbcType="VARCHAR" property="name"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getUserWithRolesPermissions" resultMap="userResultMap">
        SELECT
            u.id,
            u.`name`,
            r.id AS 'role.id',
            r.`name` AS 'role.name',
            sp.id AS 'permission.id',
            sp.`name` AS 'permission.name',
            sm.id as 'menu.id',
            sm.`name` as 'menu.name'
        FROM
            t_sys_user u
        LEFT JOIN t_sys_user_role ur ON u.id = ur.user_id
        LEFT JOIN t_sys_role r ON ur.role_id = r.id
        LEFT JOIN t_sys_role_permission rp ON rp.role_id = r.id
        LEFT JOIN t_sys_permission sp ON sp.id = rp.permission_id
        LEFT JOIN t_sys_role_menu srm on srm.role_id =r.id
        LEFT JOIN t_sys_menu sm on sm.id=srm.menu_id
        WHERE
           u.`name` = #{name}
    </select>

</mapper>